<template>
  <v-container>
    <client-share-banner />
    <client-share-menu />
  </v-container>
</template>
<script setup>
  import ClientShareBanner from "@/Components/client/share/banner.vue";
  import ClientShareMenu from "@/Components/client/share/menu.vue";
</script>
